[build]
  command = "npm run build"
  publish = "dist"

[[headers]]
  for = "/*"
  [headers.values]
    Content-Security-Policy = "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' unpkg.com; style-src 'self' 'unsafe-inline' unpkg.com fonts.googleapis.com; font-src 'self' fonts.gstatic.com; img-src 'self' data: blob: *.tile.openstreetmap.org *.basemaps.cartocdn.com tiles.stadiamaps.com *.cloudfront.net; connect-src 'self' *.tile.openstreetmap.org *.basemaps.cartocdn.com tiles.stadiamaps.com unpkg.com fonts.googleapis.com fonts.gstatic.com;"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
